{{/* ----------------------------- Components ------------------------------------- */}}
{{ define "Components" -}}

{{- if .Schemas -}}
// ------------------------
//         Schemas
// ------------------------

{{range $_, $s := .Schemas}}
{{ render $s}}
{{end}}
{{- end}}

{{- end }}

{{/* ----------------------------- SchemaComponent ------------------------------------- */}}
{{ define "SchemaComponent" -}}
type {{ .Name }} {{ render .Type }}
{{- end }}
