{{/* ----------------------------- Components ------------------------------------- */}}
{{ define "Components" -}}
{{- template "Imports" .Imports }}

{{- if .Schemas -}}
// ------------------------
//         Schemas
// ------------------------

{{range $_, $s := .Schemas}}
{{ $s.Render }}
{{end}}
{{- end}}

{{- end }}

{{/* ----------------------------- SchemaComponent ------------------------------------- */}}
{{ define "SchemaComponent" -}}
type {{ .Name }} {{ .Type.Render }}
{{- end }}
